<div class="container">
  <h1>Dashboard</h1>
  <div class="row">
    <div class="col">
      <p>Current User: <%= current_user.email %></p>
      <p>Current Organization: <%= current_user.organization.name %></p>
      <h2>Users</h2>

      <table>
        <thead>
          <tr>
            <th>Email</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= link_to "Edit", edit_user_path(user) %></td>
              <td><%= user.email %></td>
              <td>
              <% if !user.invitation_accepted_at %>
              <span class="badge badge-danger">Pending</span><%= link_to "Resend", resend_path(:user => user), :method => :post %></td>
              <% end %>
              <% if user.admin? %>
              <span class="badge badge-success">Admin</span></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>
      <%= link_to 'Invite User', new_user_invitation_path %>
    </div>
    <div class="col">
      <h2>Transactions</h2>
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Recent
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <%= link_to "Pending", "#", class: "dropdown-item" %>
        <%= link_to "Paid/Complete", "#", class: "dropdown-item" %>
        <%= link_to "Flagged", "#", class: "dropdown-item" %>
      </div>
      <table class="table table-sm mb-0 table-dashboard fs--1 data-table border-bottom" data-options='{"responsive":false,"pagingType":"simple","lengthChange":false,"searching":false,"pageLength":8,"columnDefs":[{"targets":[0,6],"orderable":false}],"language":{"info":"_START_ to _END_ Items of _TOTAL_ — <a href=\"#!\" class=\"font-weight-semi-bold\"> view all <span class=\"fas fa-angle-right\" data-fa-transform=\"down-1\"></span> </a>"},"dom":"<&#39;row mx-1&#39;<&#39;col-sm-12 col-md-6&#39;l><&#39;col-sm-12 col-md-6&#39;f>><&#39;table-responsive&#39;tr><&#39;row no-gutters px-1 py-3 align-items-center&#39;<&#39;col pl-3&#39;i><&#39;col-auto pr-3&#39;p>>"}'>
                  <thead class="bg-200 text-900">
                    <tr>
                      <th class="no-sort pr-1 align-middle">
                        <div class="custom-control custom-checkbox ml-3"><input class="custom-control-input checkbox-bulk-select" id="checkbox-bulk-purchases-select" type="checkbox" data-checkbox-body="#purchases" data-checkbox-actions="#purchases-actions" data-checkbox-replaced-element="#dashboard-actions" /><label class="custom-control-label" for="checkbox-bulk-purchases-select"></label></div>
                      </th>
                      <th class="sort pr-1 align-middle">Department</th>
                      <th class="sort pr-1 align-middle">User</th>
                      <th class="sort pr-1 align-middle">Description</th>
                      <th class="sort pr-1 align-middle text-center">Status</th>
                      <th class="sort pr-1 align-middle text-right">Amount</th>
                      <th class="sort pr-1 align-middle text-right">Currency</th>
                      <th class="sort pr-1 align-middle">Covered?</th>
                      <th class="no-sort pr-1 align-middle"></th>
                    </tr>
                  </thead>
      <tbody id="purchases">
        <%= render 'home/shared/transactions' %>
      </tbody>
      </table>
      <%= link_to 'New Transaction', new_transaction_path %>
    </div>
  </div>
</div>
