<% @transactions.each do |transaction| %>
            <tr class="btn-reveal-trigger">
              <td class="align-middle">
                <div class="custom-control custom-checkbox ml-3"><input class="custom-control-input checkbox-bulk-select-target" type="checkbox" id="<%= transaction.id %>" /><label class="custom-control-label" for="<%= transaction.id %>"></label></div>
              </td>
              <td class="align-middle"><%= transaction.date %></th>
              <td class="align-middle"><%= transaction.department %></th>
              <td class="align-middle"><%= link_to transaction.user.name, user_path(transaction.user) %></td>
              <td class="align-middle"><%= transaction.description %></td>
              <td class="align-middle text-center fs-0"><span class="badge <%= transaction_status(transaction)%>"><%= transaction.transaction_status %></td>
              <td class="align-middle text-right"><%= number_to_currency(transaction.amount) %></td>
              <td class="align-middle text-right"><%= transaction.currency %></td>
              <td class="align-middle"><%= transaction.covered? %></td>
              <td class="align-middle">
                <div class="dropdown text-sans-serif"><button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal" type="button" id="dropdown0" data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span class="fas fa-ellipsis-h fs--1"></span></button>
                  <div class="dropdown-menu dropdown-menu-right border py-0" aria-labelledby="dropdown0">
                    <div class="bg-white py-2">
                    <%= link_to 'View', transaction, class: "dropdown-item" %>
                    <%= link_to 'Edit', edit_transaction_path(transaction), class: "dropdown-item" %>
                    <% if user_is_admin? %>
                    <%= link_to 'Update Status', edit_status_path(transaction), class: "dropdown-item" %>
                    <%= link_to 'Archive', edit_transaction_path(transaction), class: "dropdown-item" %>
                    <% end %>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
<% end %>
